* {box-sizing:border-box;}
.flexform{
 box-sizing:border-box;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.email{
  
  padding-right:5px;
  margin-left: 15px;
  margin-bottom: 10px;
}


.messagebox{
  padding-left: 10px;
  padding-right:5px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.form-button{
  width: 120px;
  margin-top:20px;
  margin-left: 25px;
  margin-right:5px;
  text-decoration: none;
  color:black;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.form-button:hover{
  color:red;
}

input[type=text] {
  padding:5px;
  margin:10px 0;
  width:30%;

  border-radius:10px;
  border: 2px solid black;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06); 
}

input[type=textarea] {
  width:50%;
  resize: vertical;
  padding:10px;
  border-radius:15px;

  border: 2px solid black;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
}

input[type=text]:hover{
  border: 2px solid red;
}

input[type=textarea]:hover{
  border: 2px solid red;
}