
.about{
background-image: url('https://images.unsplash.com/photo-1572756317709-fe9c15ced298?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1047&q=80');
  background-repeat: round;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: 'Poppins', sans-serif;
}

li {
  float: left;
  font-family: 'Poppins', sans-serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}


li a:hover {
  background-color: #111;
}

.about-flex{
  display: flex;
  justify-content: center;
  
}


.about-img img{
  display: flex;
  justify-content: center;
  position:relative;
  float:left;
  width:20em;
  height:100%;
  border-radius: 18px;
 
  margin-top:100px;
  margin-left:70px;
  
}

.about-text{
  float: right;
  margin-top:200px;

  padding:20px;
  
}

.quote p{
  position:fixed;
  font-family: 'Quicksand', sans-serif;
  color:red;
  font-size: 60px;
  margin-top:200px;
  border-left:3px solid black;

  margin-left: 25px;
  padding-left: 2px;
  margin-bottom:90px;
}

.quote{
  margin-bottom: 50px;
}



@media screen and (max-width: 850px) {
  

}



@media screen and (max-width: 400px) {
  .top-nav li{
    font-size:medium;
  }
}
