.footer {
  display:flex;
  justify-content: center;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding-top:6px;
}

.name{color: white;
  font-family: Poppins;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;}



@media screen and (max-width: 400px) {
  .name{
    font-size:medium;
  }
    
}